[submodule "ref/imgui"]
	path = ref/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ref/FastNoise"]
	path = ref/FastNoise
	url = https://github.com/Auburns/FastNoise.git
[submodule "ref/stb"]
	path = ref/stb
	url = https://github.com/nothings/stb.git
[submodule "ref/DonerSerializer"]
	path = ref/DonerSerializer
	url = https://github.com/Donerkebap13/DonerSerializer.git
[submodule "ref/fmt"]
	path = ref/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ref/Fast-BVH"]
	path = ref/Fast-BVH
	url = https://github.com/brandonpelfrey/Fast-BVH.git
[submodule "ref/luajit-2.0"]
	path = ref/luajit-2.0
	url = http://luajit.org/git/luajit-2.0.git
